<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ktsstudio.app_verification">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <package android:name="com.google.android.apps.maps" />
        <package android:name="ru.yandex.yandexmaps" />
        <package android:name="ru.dublgis.dgismobile" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.mapswithme.maps.pro" />
        <intent>
            <action android:name="com.mapswithme.maps.pro.action.BUILD_ROUTE" />
        </intent>
    </queries>

    <application
        android:name=".app.VerificationApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity android:name=".ui.MainActivity"
            android:screenOrientation="${ORIENTATION}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>