<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ktsstudio.feature_sync_impl">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name="ru.ktsstudio.feature_sync_impl.service.SyncService" />
    </application>
</manifest>